{% extends 'src/header.html' %}
{% load static %}
{% block content_header %}


<div class="menu-close"><i class="mdi mdi-close"></i></div>

<div class="content-area">  
  <div class="container  is-pagetitle">
    <div class="section">
         <h5 class="pagetitle">Nouvelle enrégistrement</h5>
    </div>
    </div>

    <div class="container full subpage ">
        <div class="section">


            
    <!-- <div class="container">
  <div class="section"> -->

    
    <ul class="subpages collection z-depth-1">


        

    <li class="collection-item subtit"><div class="row ">
                <div class="col s12 pad-0"><h5 class="bot-20 sec-tit  ">Enrégistrement</h5></div>
        </div>
    </li>
    <li class="collection-item">
        <a href="{% url 'new-teacher' %}" class="waves-effect"><i class="mdi mdi-toolbox "></i><span>Enrégistrement de nouveau enseignant</span><i class="arrow mdi mdi-chevron-right"></i></a>
    </li>
    <li class="collection-item"> 
        <a href="{% url 'sutylevel' %}" class="waves-effect"><i class="mdi mdi-office-building "></i><span>Niveau d'étude</span><i class="arrow mdi mdi-chevron-right"></i></a>
    </li>
    <li class="collection-item">
        <a href="{% url 'speciality' %}" class="waves-effect"><i class="mdi mdi-credit-card "></i><span>Spécialité</span><i class="arrow mdi mdi-chevron-right"></i></a>
    </li>
    <li class="collection-item">
      <a href="{% url 'commune' %}" class="waves-effect"><i class="mdi mdi-cash "></i><span>Commune</span><i class="arrow mdi mdi-chevron-right"></i></a>
    </li>
    <li class="collection-item"> 
        <a href="{% url 'matiere' %}" class="waves-effect"><i class="mdi mdi-dna "></i><span>Matière</span><i class="arrow mdi mdi-chevron-right"></i></a>
    </li>
    
    </ul>


    
        </div>
        </div>

  
  


{% include "src/footer_mobile.html" %} 

<script>

</script>

        
{% endblock %}


